*.sh                          text eol=lf
Dockerfile                    text eol=lf
.dockerignore                 text eol=lf
deploy/crontab                text eol=lf
deploy/Caddyfile              text eol=lf
deploy/*.mjs                  text eol=lf
deploy/*.yml                  text eol=lf
deploy/.env.production.example text eol=lf
.github/workflows/*.yml       text eol=lf
